@import "base/_variables.scss";
@import "base/_mixins.scss";

/*==================================
FONTS
==================================*/

* {
    box-sizing: border-box;
}

body, p {
	@include old_standard_tt(400);
	font-size: 16px;
}

body {
	background-color: $white;
}

p {
	margin-bottom: 20px;
}

h1 {
	@include roboto(700);
	font-size: 30px;
	line-height: 30px;
    text-transform: uppercase;
}

h2 {
	@include roboto(700);
	font-size: 24px;
	line-height: 27px;
}

h3 {
	@include roboto(700);
	font-size: 14px;
	line-height: 17px;
}

p, h1, h2, h3 {
	color: $black_text;
	margin: 0px 0px 20px;
}

h1, h2, h3 {
	letter-spacing: .4px;
}

a, a:visited, a:active, a:focus {
	color: $grey_nav;
	text-decoration: none;
	outline: 0;
}

a {
	transition: color .2s ease-in-out;

	&:hover {
		color: $black_text;
	}
}

/*==================================
COMPONENTS
==================================*/

/*=== Lists ===*/

ul, ol {
	margin: 0px;
	padding: 0px;
}

/*==================================
GRID
==================================*/

.mbs_row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -2.5px;
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4 {
	position: relative;
	margin: 0px 0px 5px;
	padding: 0px 2.5px;
	float: left;
	display: inline-block;

	img {
		display: block;
	}
}

/*=== Columns ===*/

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_3 {
    width: 33.33%;

    @include tablet {
        width: 50%;
    }

    @include mobile {
    	width: 100%;
    }
}

.column_2_3 {
    width: 66.66%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet {
    	width: 50%;
    }

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_3_4 {
    width: 75%;

    @include mobile_landscape {
    	width: 100%;
    }
}

/*==================================
STRUCTURE
==================================*/

.page_content, .container {
    max-width: 960px;
    margin: 0 auto;
    width: 90%;

    section {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
}

.main_content {
    margin-bottom: 50px;
}

/*==================================
NAVIGATION
==================================*/

/*=== Logo ===*/

a.logo {
    width: 100px;
    display: block;
    position: relative;

    @include tablet {
        margin: 0 auto;
    }
}

a.logo img {
    position: absolute;
    top: 0;
    left: 0;

    @include tablet {
        position: relative;
    }
}

.white_logo {
    @include tablet {
        display: none;
    }
}

// Dark Header logo adaptation

.dark_logo {
    opacity: 0;
    margin-top: -10px;
}

.main_navigation.dark {
    a.logo {
        width: 50px;
    }
    .white_logo {
        opacity: 0;
    }
    .dark_logo {
        opacity: 1;
    }
}
/*=== Main Navigation ===*/

header.site_header {
    position: relative;
    margin-bottom: 50px;
    width: 100%;
    z-index: 10;

    @include tablet {
        margin-bottom: 30px;
    }
}

.home header.site_header {
    position: fixed;
    margin-bottom: 0;
}

nav.main_navigation {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 30px;
    height: 150px;
    justify-content: space-between;
    transition: all .3s ease-in-out;

    @include tablet {
        text-align: center;
        padding: 20px 10px;
    }
}

nav.main_navigation.dark {
    height: 63px;
    background-color: rgba($white,.9);
    box-shadow: 0px 0px 5px $grey_nav;

    @include tablet {
        height: 98px;
    }
}

/*=== Navigation Menu ===*/

ul#primary-menu {
    transition: all .3s ease-in-out;

    @include tablet {
        width: 100%;
        padding-top: 5px;
    }
}

ul#primary-menu li {
    display: inline-block;
    padding: 0px 50px;

    @include tablet_landscape {
        padding: 0px 20px;
    }

    @include mobile_landscape {
        padding: 0px 5px;
    }
}

ul#primary-menu li:last-child {
    padding: 0px 0px 0px 50px;

    @include tablet_landscape {
        padding: 0px 0px 0px 20px;
    }

    @include tablet {
        padding: 0px 20px;
    }

    @include mobile_landscape {
        padding: 0px 5px;
    }
}

ul#primary-menu li a {
    color: $white;
    text-transform: uppercase;
    font-size: 18px;
    @include roboto(400);

    &:hover {
        color: $red;
    }

    @include tablet {
        font-size: 14px;
    }
}

.dark ul#primary-menu li a {
    color: $red;

    &.active {
        color: $grey_nav;
    }

}

/*==================================
HOMEPAGE
==================================*/

/*=== Banner ===*/

header.page_header {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.callout_image {
    max-width: 500px;
    width: 90%;

    img {
        display: block;
        width: 100%;
    }
}

/*==================================
ABOUT
==================================*/

section#about {
    border-bottom: 1px solid;
}

#about p:last-child {
    margin-bottom: 0;
}

.about_image img {
    max-width: 350px;
    margin: 0 auto;
    width: 100%;
}

/*==================================
GALLERY
==================================*/

section#gallery {
    border-bottom: 1px solid;
}

// Individual Project

.project_container {
    display: block;
    position: relative;
    margin-bottom: 10px;

    @include mobile_landscape {
        margin-bottom: 20px;
    }
}

.project_container img {
    display: block;
    width: 100%;
}

.project_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .3s ease-in-out;
    background: rgba($red, .8);

    @include mobile_landscape {
        position: relative;
        padding: 20px;
        background: rgba($red, 1);
        opacity: 1;
    }
}

.project_overlay p {
    color: white;
    font-size: 20px;
    margin-bottom: 0;
}

.project_container:hover .project_overlay {
    opacity: 1;
}

/*==================================
SINGLE PROJECT PAGE
==================================*/

.mbs_gallery a {
    position: relative;
    display: block;
}

.mbs_gallery img {
    display: block;
    width: 100%;
}

.mbs_gallery a:before {
    @include overlay(rgba($red,0));
    transition: all .3s ease-in-out;
}

.mbs_gallery a:hover:before {
    background: rgba($red,.5);
}

/*=== Navigation Arrows ===*/

.mfp-arrow-left:hover {
  left: -10px; 
}

.mfp-arrow-right:hover {
  right: -10px; 
}

.mfp-arrow-right:after, .mfp-arrow-left:after {
    display: none;
}

.mfp-arrow:before {
    border-left: 0;
    font-family: 'fontawesome';
    font-size: 80px;
    color: #fff;
}

.mfp-arrow-left:before {
    content: "\f104";
}

.mfp-arrow-right:before {
    content: "\f105";
}

/*=== Close Icon Hover Effect ===*/

button.mfp-close {
    position: absolute;
    color: $white;
    font-family: arial;
    font-size: 30px;
    width: 40px;
    height: 40px;
    right: -13px;
    text-align: center;
    border-radius: 100px;
    border: 2px solid transparent;
    padding: 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.mfp-close:hover {
    border: 2px solid #fff;
    backface-visibility: hidden;
    transform: scale(0.8) rotateZ(90deg);
}

/*==================================
CONTACT
==================================*/

#contact iframe {
    width: 100%;
    height: 500px;
}

/*==================================
FOOTER
==================================*/

.footer {
    padding: 20px 30px;
    background: $red;

    p {
        color: $white;
        margin-bottom: 0px;

        @include mobile {
            font-size: 14px;
        }
    }
}