/*================
FONTS
================*/

@mixin roboto($fontweight) {
	font-family: 'Roboto', sans-serif;
	font-weight: $fontweight;
}

@mixin old_standard_tt($fontweight) {
	font-family: 'Old Standard TT', 'Times New Roman', serif;
	font-weight: $fontweight;
}

/*================
MEDIA QUERIES
================*/

@mixin mobile() {
	@media all and (max-width: 480px){
		@content;
	}
}

@mixin mobile_landscape() {
	@media all and (max-width: 568px) {
		@content;
	}
}

@mixin tablet() {
	@media all and (max-width: 768px){
		@content;
	}
}

@mixin tablet_landscape() {
	@media all and (max-width: 1024px){
		@content;
	}
}

@mixin desktop() {
	@media all and (min-width: 1280px){
		@content;
	}
}

/*================
OVERLAY
================*/

@mixin overlay($background) {
  content: "";
  position: absolute;
  background: $background;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}